<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proposta comercial</title>
   
  </head>
  <body>
    <div>
      <div>
        <label>Data da proposta</label>
        <p><%=datePop%></p>
      </div>
      <div>
        <label>N° proposta</label>
        <p><%=nPedido%></p>
      </div>
      <div ="col-5">
        <label>Data da coleta</label>
        <p>7 dias uteis apos a confirmação do pedido</p>
      </div>
      <div>
        <label>Frete</label>
        <p><%=frete%></p>
      </div>
    </div>
  </body>
</html>
